<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Django</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">App Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'firstApp_about' %}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/first_app/contact/">Contact</a>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link" href="{% url 'bootstrap_home' %}"
                >bootstrap</a
              >
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'bootstrap_about' %}"
                >bootstrap about</a
              >
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="{% url 'form_home' %}">Form Home</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="{% url 'form' %}">Form</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'django_form' %}">Django Form</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'django_model' %}"
                >Django Model</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'form_model' %}">Form Model</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <section class="container-md">
      <h1>{% block page_name %} {% endblock %}</h1>
    </section>

    {% block page_content %} {% endblock page_content %}

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
