<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Django</title>
    <style>
      a {
        padding: 16px;
      }
    </style>
  </head>
  <body>
    <h1>This is my first ever html template</h1>
    <a href="/first_app/about/">About</a>
    <a href="/first_app/contact/">Contact</a>
    <a href="/second_app/feedback/">feedback</a>
    <a href="/second_app/courses/">courses</a>
  </body>
</html>
