<!-- prettier-ignore -->
{% extends "base.html" %} 
{% load first_tags %}
{% block title %} Bootstrap about {% endblock %}


{% block page_content %}
<section class="container-md my-5">
  <h1>Django Model Page</h1>

  <!-- prettier-ignore -->
  {% if students %}
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
    {% for st in students %}
    <div class="border p-3 col">
      <p>Roll: {{st.roll}}</p>
      <p>Name: {{st.name}}</p>
      <p>Father: {{st.father_name}}</p>
      <p>Address: {{st.address}}</p>
      <a class="btn btn-danger" href="{% url 'delete_student' st.roll %}"
        >Delete</a
      >
    </div>
    {% endfor %} {% else %}
  </div>
  <h3>No data found</h3>
  {% endif %}
</section>
{% endblock page_content %}
