<!-- prettier-ignore -->
{% extends "base.html" %} 
{% load first_tags %}
{% block title %} Bootstrap about {% endblock %}


{% block page_content %}
<section class="container-md my-5">
  <h1>Django Model Page</h1>

  <!-- prettier-ignore -->
  {% if students %} 
  
  {% for st in students %}
  <div class="border p-4">
    <p>Roll: {{st.roll}}</p>
    <p>Name: {{st.name}}</p>
    <p>Father: {{st.father_name}}</p>
    <p>Address: {{st.address}}</p>
  </div>
  {% endfor %} {% else %}
  <h3>No data found</h3>
  {% endif %}
</section>
{% endblock page_content %}
