<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>First app: About</title>

    <style>
      a {
        padding: 16px;
      }
    </style>
  </head>
  <body>
    <h1>We are inside first app: About page</h1>
    <a href="/">App Home</a>
    <a href="/first_app/about/">About</a>
    <a href="/first_app/contact/">Contact</a>
    <a href="/second_app/feedback/">feedback</a>
    <a href="/second_app/courses/">courses</a>
  </body>
</html>
