<!-- prettier-ignore -->
{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% load tailwind_filters %}
{% block title %} Auth - signup {% endblock %}


{% block page_content %}

<section class="max-w-6xl mx-auto px-3 my-8">
  {% if messages %} {% for message in messages %}
  <div class="toast toast-top toast-center">
    <div
      class="alert {% if message.tags == 'success' %} alert-success {% elif message.tags == 'error' %} alert-error {% endif %}"
    >
      <span>{{ message }}</span>
      <button class="close-button">✕</button>
    </div>
  </div>
  {% endfor %} {% endif %}

  <h1 class="text-center text-3xl font-medium text-green-700 mb-2">
    Welcome {{user}}
  </h1>
  <form
    class="max-w-2xl mx-auto bg-green-50 p-4 rounded-md"
    method="POST"
    novalidate
  >
    {% csrf_token %}
    <!-- {{form | crispy}} -->
    <!-- prettier-ignore -->
    {% for fm in form %}
    <div class="mb-2">
      {{fm.label_tag}} {{fm}}
      <span class="text-xs text-red-500">{{fm.errors | striptags}}</span>
    </div>
    {%endfor%}
    <button
      class="btn btn-primary bg-green-700 text-white w-full hover:border-0 hover:bg-green-600 border-0"
    >
      Update Profile
    </button>
    <div class="mt-4">
      <p>
        Want to change your password?
        <a class="text-blue-400 underline" href="{% url 'pass_change' %}"
          >Change Password</a
        >
      </p>
      <p>
        Want to change your password without old password?
        <a class="text-blue-400 underline" href="{% url 'pass_change2' %}"
          >Change Password</a
        >
      </p>
    </div>
  </form>
</section>

{% endblock page_content %} {% block js_script %}

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const closeButtons = document.querySelectorAll('.close-button');

    closeButtons.forEach((button) => {
      button.addEventListener('click', function () {
        const toastElement = this.closest('.toast');
        toastElement.style.display = 'none';
      });
    });
  });
</script>

{% endblock js_script %}
